# default โมโมกะ
BOT_NAME=

# you can get your line id, secret, token on Line bussiness center
LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET=
LINE_CHANNEL_TOKEN=

# Facebook page token
FACEBOOK_PAGE_TOKEN=

# default 6969
PORT=

#Database
MONGODB_URL=mongodb://localhost:27017/momoka

